root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# CS0114: Member hides inherited member; missing override keyword
dotnet_diagnostic.CS0114.severity = silent
